<header class="contain-to-grid fixed">

    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1 style="background:#112e50; border:1px solid #dedede; border-radius:0 0 3px 3px;"><a href="http://innventlabs.com"><img src="{{site.url}}{{site.baseurl}}/assets/images/logo-isn-white.png" style="height:64px;"></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li><a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false"><i class="icon-bell yc f-1-5x"></i></a></li>
                <li id="newideanav" class="has-form"><a href="#" class="button" data-reveal-id="newideaModal"><i class="icon-plus"></i>New Idea</a></li>
                <li id="timelinenav"><a href="#">Home</a></li>
                <li id="logout"><a href="#"><i class="icon-out"></i></a></li>
            </ul>
            
        </section>
    </nav>
</header>
<ul id="drop1" class="f-dropdown small" data-dropdown-content aria-hidden="true" tabindex="-1">
  <li><a href="#">A new Idea #364 has been assigned to you</a></li>
  <li><a href="#"><strong>Rajesh Mishra</strong> has started implementing Idea #213</a></li>
  <li><a href="#"><strong>Raghav</strong> commmented on your project ID #312</a></li>
  <li><a class="text-center">View all</a></li>
</ul>
<div data-alert class="alert-box alert-bar text-center fixed" style="display:none; z-index:9; top:48px;">
    Loading
    <a href="#" class="close">&times;</a>
</div>