<!DOCTYPE html>
<html>

{% include head.html %}

<!-- <body style="background:url('./assets/images/home-bg.jpg') no-repeat; background-size:cover; "> -->
<body>
    <!-- <video id="landing-video" class="video scale manual" autoplay  loop poster="./assets/images/landing.jpg" style="width: 100%;  left: 0px; top: 0px; position:absolute; z-index:-99">
        <source src="./assets/video/landing.mp4" type="video/mp4">
        <source src="./assets/video/landing.webm" type="video/webm">
        Your browser does not support the video tag.
      </video> -->

      <div id="hout" >
        {% include header-out.html %}
      </div>
      <div id="hin" style="display: none;">
        {% include header.html %}
      </div>
      <div id="landingview" >
        <div id="pbg" style="background-image:url('http://adityanayak.github.io/innvent/assets/images/cover.jpg'); background-repeat:no-repeat; background-color: rgba(0,0,0,0.7); background-size:cover; background-position:center;">
          <div class="row">
            <div class="small-12 columns text-center" style="margin-top:10em; margin-bottom:15em;">
              <img src="{{site.url}}{{site.baseurl}}/assets/images/logo-white.png" style="height:108px; margin-bottom:5em;" class="s-ws-top">
              <h2 class="wc"><div class="f-1-5x">Driving Innovation at Scale</div></h2>
              <h4 class="f-l wcolor2"><span class="f-1-25x">Align your complete organisation into staying ahead of the curve</span></h4>
              <!-- <h2 class="wc f-l"><span class="f-2x">Real estate Intelligence. <span class="scolor2">Simplified.</span></h2> -->
              <div class="b-ws-top"><a class="button small  success" href="#" data-reveal-id="loginModal">Get started for Free <i class="icon-lock s-ws-left"></i></a></div>
            </div>

          </div>
        </div>
      </div>
      <div id="cockpitview">
        <div class="row">
          <div class="small-3 columns b-ws-top b-ws-top-p">
            <div class="row">
              <div class="small-5 columns">
                <img src="https://randomuser.me/api/portraits/med/women/93.jpg" class="circle-img fullwidth profileimg">    
              </div>
              <div class="small-7 columns s-ws-top">
                <h6 class="nm">Sonia Puri</h6>
                <p class="scolor">CEO</p>
              </div>
            </div>
            <hr>
            <div class="row collapse">
              <div class="small-4 columns s-ws-top">
                <span class="s">Cost saved</span>
              </div>
              <div class="small-2 columns xs-ws-top">
                <i class="icon-rupee f-2x bgc"></i>
              </div>
              <div class="small-6 columns">
                <span class="f-2x">1.2 <span class="s3 scolor">crores</span></span>
              </div>
            </div>
            <div class="row collapse">
              <div class="small-4 columns s-ws-top">
                <span class="s">System Health</span>
              </div>
              <div class="small-2 columns xs-ws-top">
                <i class="icon-stethoscope f-2x bc"></i>
              </div>
              <div class="small-6 columns s-ws-top">
                At par <span class="scolor2 s2">with competition</span>
              </div>
            </div>
            <div class="row collapse">
              <div class="small-4 columns s-ws-top">
                <span class="s">Organisation</span>
              </div>
              <div class="small-2 columns xs-ws-top">
                <i class="icon-building f-2x dbc"></i>
              </div>
              <div class="small-6 columns xs-ws-top">
                <span class="f-1-5x">123<span class="s2 scolor">/160</span><span class="s3 scolor"> Active</span></span>
              </div>
            </div>
          </div>
          <div class="small-9 columns b-ws-top b-ws-top-p">
            <div class="row">
              <div class="small-3 columns small-offset-9">
                <div class="panel scolor cs s" style="padding:0.5em;">
                  <i class="icon-calendar scolor2 xs-ws-right"></i> Last 30 days </i>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="row">
                <div class="small-6 columns">
                  <h5>Pulse</h5>
                </div>
                <div class="small-2 columns s2 scolor2">
                  Behind the industry <i class="icon-circle-full rc right"></i>
                </div>
                <div class="small-2 columns s2 scolor2">
                  At par industry <i class="icon-circle-full yc right"></i>
                </div>
                <div class="small-2 columns s2 scolor2">
                  Better than industry <i class="icon-circle-full gc right"></i>
                </div>
              </div>
              <div class="row">
                <div class="small-12 columns">
                  <hr style="margin-top: 0.25em;">
                </div>
              </div>
              <div class="row">
                <div class="small-3 columns text-center">
                  <div class="row">
                    <div class="small-8 columns small-centered">
                      <div id="kpi1">
                      </div>
                    </div>
                  </div>
                  <div class="scolor2 s-ws-top">Ideas per person</div>
                </div>
                <div class="small-3 columns text-center">
                  <div class="row">
                    <div class="small-8 columns small-centered">
                      <div id="kpi2">
                      </div>
                    </div>
                  </div>
                  <div class="scolor2 s-ws-top">Implementation rate</div>
                </div>
                <div class="small-3 columns text-center">
                  <div class="row">
                    <div class="small-8 columns small-centered">
                      <div id="kpi3">
                      </div>
                    </div>
                  </div>
                  <div class="scolor2 s-ws-top">Idea Activation time</div>
                </div>
                <div class="small-3 columns text-center">
                  <div class="row">
                    <div class="small-8 columns small-centered">
                      <div id="kpi4">
                      </div>
                    </div>
                  </div>
                  <div class="scolor2 s-ws-top">Ideas due deletion</div>
                </div>
              </div>
            </div>
            <div class="panel">
              <h5>Action today</h5>
              <hr>
              <div class="panel" id="ctapanel" style="background:#eee">
                <span class="scolor2">You need to</span> send cheer <i class="icon-thumbs-o-up gc xs-ws-right"></i> <span class="scolor2">to</span> <img src="https://randomuser.me/api/portraits/med/women/7.jpg" width="32px" class="circle-img profileimg s-ws-left xs-ws-right"> Sandhya Seth <span class="scolor2">and her Business excellence team </span> <a class="button tiny right" id="tempbutton">Send cheer</a>
              </div>
              <div id="ctapanel2" style="display:none;">
                <div class="f-1-2-5x scolor">Done! Thats all that is needed from you today :) <i class="icon-check-circle gc"></i></div>
              </div>
            </div>
            <div class="panel">

              <ul class="tabs" data-tab>
                <li class="tab-title active"><a href="#panel1">Overview</a></li>
                <li class="tab-title"><a href="#panel2">Analysis</a></li>
                <li class="tab-title"><a href="#panel3">Pending</a></li>
                <li class="tab-title"><a href="#panel4">Idea map</a></li>
              </ul>
              <div class="tabs-content">
                <div class="content active" id="panel1">
                  <table style="border-spacing: 0; border:0;">
                    <thead>
                      <tr>
                        <th width="300">Business Units</th>
                        <th width="150">Ideas/person</th>
                        <th width="150">Implementation rate</th>
                        <th width="150">Costs saved</th>
                        <th width="150">Ideas pending </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>Marketing</strong></td>
                        <td class="scolor">1.6</td>
                        <td class="scolor">54%</td>
                        <td class="scolor">32 lakhs</td>
                        <td class="scolor">12</td>
                      </tr>
                      <tr>
                        <td><strong>Business Excellence</strong></td>
                        <td class="scolor">2.2</td>
                        <td class="scolor">67%</td>
                        <td class="scolor">3 lakhs</td>
                        <td class="scolor">1</td>
                      </tr>
                      <tr>
                        <td><strong>PR</strong></td>
                        <td class="scolor">3.2</td>
                        <td class="scolor">42%</td>
                        <td class="scolor">12 lakhs</td>
                        <td class="scolor">43</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="content" id="panel2">
                  <p>Coming soon</p>
                </div>
                <div class="content" id="panel3">
                  <p>Coming soon</p>
                </div>
                <div class="content" id="panel4">
                  <p>Coming soon</p>
                </div>

              </div>

            </div>
            <div class="panel">
              <h5>Idea stages</h5>
              <hr>
              <div class="row text-center">
                <div class="small-2 small-offset-1 columns scolor">
                  <div class="f-2x yc">120</div>
                  Total Submitted
                </div>
                <div class="small-1 columns s-ws-top">
                  <i class="icon-equal scolor2"></i>
                </div>
                <div class="small-2 columns scolor">
                  <div class="f-2x bgc">10</div>
                  With Reviewer
                </div>
                <div class="small-1 columns xs-ws-top">
                  <i class="icon-plus scolor2 f-2x"></i>
                </div>
                <div class="small-2 columns scolor">
                  <div class="f-2x bc">80</div>
                  With Implementor
                </div>
                <div class="small-1 columns xs-ws-top">
                  <i class="icon-plus scolor2 f-2x"></i>
                </div>
                <div class="small-2 columns scolor">
                  <div class="f-2x dbc">30</div>
                  With Validator
                </div>
              </div>
              <h5>Pending Ideas</h5>
              <hr>
              <div class="row text-center">
                <div class="small-3 columns scolor">
                  <div class="f-2x gc">131</div>
                  0-15 days
                </div>
                <div class="small-3 columns scolor">
                  <div class="f-2x yc">17</div>
                  15-30 days
                </div>
                <div class="small-3 columns scolor">
                  <div class="f-2x" style="color:#FF6200">33</div>
                  15-30 days
                </div>
                <div class="small-3 columns scolor">
                  <div class="f-2x rc">12</div>
                   30-45 days
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div id="timelineview" style="display: none;">
        <div class="row">
          <div class="small-3 columns b-ws-top b-ws-top-p">
            <div class="row">
              <div class="small-4 columns">
                <img src="https://randomuser.me/api/portraits/med/women/93.jpg" class="circle-img fullwidth profileimg">    
              </div>
              <div class="small-8 columns s-ws-top">
                <h6 class="nm">Sonia Puri</h6>
                <p class="scolor">Account Manager</p>
              </div>
            </div>

          </div>
          <div class="small-6 columns b-ws-top b-ws-top-p">
            <div class="panel">
              <div class="row">
                <div class="small-1 columns">
                  <i class="icon-idea yc f-2x"></i>
                </div>
                <div class="small-9 columns">
                  <h5>Idea title which is slightly longer and then a lot longer <span class="btn tiny"><a class="siv scolor2 xs-ws-left">View Idea <i class="icon-right s2"></i></span></a></h5>
                </div>
                <div class="small-2 end columns scolor2 text-right s2"> <i class="icon-clock"></i>10 min ago</div>
              </div>
              <div class="row"> <div class="small-12 columns s-ws-top"><div class="flex-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/BbqUZ0p6Ntw?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div> </div></div>
              <div class="row"><div class="small-2 columns"><img src="https://randomuser.me/api/portraits/med/women/48.jpg" class="circle-img"></div> <div class="small-10 columns s-ws-top"> <h6 class="scolor nm">Rajesh Rishi</h6><div class="s2 scolor2 xs-ws-top"><i class="icon-location"></i>Business associate</div></div>  </div>  </div>
            </div>
            <div class="small-3 b-ws-top columns b-ws-top-p">
              <div class="rv" style="display: none;">
                <h5>Your Ideas</h5>
                <div class="plist">
                  <div class="plistli f-1-25x">
                    <i class="f-1-25x bc icon-idea xs-ws-right"></i>342 <span class="s2 scolor2">Ideas pending</span> <i class="icon-right s scolor4 right xs-ws-top"></i>
                  </div>
                  <div class="plistli f-1-25x">
                    <i class="f-1-25x yc icon-idea xs-ws-right"></i>23 <span class="s2 scolor2">Ideas in process</span> <i class="icon-right s scolor4 right xs-ws-top"></i>
                  </div>
                  <div class="plistli f-1-25x">
                    <i class="f-1-25x bgc icon-idea xs-ws-right"></i>11 <span class="s2 scolor2">Ideas implemented</span> <i class="icon-right s scolor4 right xs-ws-top"></i>
                  </div>
                  <div class="plistli f-1-25x">
                    <i class="f-1-25x gc icon-idea xs-ws-right"></i>3 <span class="s2 scolor2">Ideas succeeded</span> <i class="icon-right s scolor4 right xs-ws-top"></i>
                  </div>
                </div>
              </div>
              <div class="sv" style="display:none;">
                <h5>Your ideas</h5>
                <h7>Current Ideas</h7>
                <div class="plist">
                  <div class="plistli">
                    <h6 class="nm"><small>#123</small> Idea title 1 <small class="right"><i class="icon-right" style="line-height: 1.5"></i></small></h6>
                  </div>
                  <div class="plistli">
                    <h6 class="nm"><small>#13</small> Idea title 2 <small class="right"><i class="icon-right" style="line-height: 1.5"></i></small></h6>
                  </div>
                  <div class="plistli">
                    <h6 class="nm"><small>#43</small> Idea title 3 <small class="right"><i class="icon-right" style="line-height: 1.5"></i></small></h6>
                  </div>
                </div>
                <h7>Past Ideas</h7>
                <div class="scolor2 s s-ws-top">No ideas yet</div>
              </div>
            </div>
          </div>
        </div>

        <div id="dashboardview" style="display: none;">
          <div class="row">
            <div class="small-3 columns b-ws-top b-ws-top-p">
              <div class="row">
                <div class="small-4 columns">
                  <img src="https://randomuser.me/api/portraits/med/women/93.jpg" class="circle-img fullwidth profileimg">    
                </div>
                <div class="small-8 columns s-ws-top">
                  <h6 class="nm">Sonia Puri</h6>
                  <p class="scolor">Account Manager</p>
                </div>
              </div>
            </div>
            <div class="small-6 columns b-ws-top b-ws-top-p">
              <div class="panel">

                <div class="row">
                  <div class="small-3 columns">
                    <div class="row collapse">
                      <div class="small-4 columns">
                        <i class="f-2x yc icon-idea"></i>
                      </div>
                      <div class="small-8 columns">
                        <div class="f-1-25x">342</div>
                        <div class="s2 scolor2">Open Ideas</div>
                      </div>
                    </div>
                  </div>
                  <div class="small-3 columns">
                    <div class="row collapse">
                      <div class="small-4 columns">
                        <i class="f-2x bgc icon-idea"></i>
                      </div>
                      <div class="small-8 columns">
                        <div class="f-1-25x">342</div>
                        <div class="s2 scolor2">Ideas under implementation</div>
                      </div>
                    </div>
                  </div>
                  <div class="small-3 columns">
                    <div class="row collapse">
                      <div class="small-4 columns">
                        <i class="f-2x gc icon-idea"></i>
                      </div>
                      <div class="small-8 columns">
                        <div class="f-1-25x">342</div>
                        <div class="s2 scolor2">Implemented ideas</div>
                      </div>
                    </div>
                  </div>
                  <div class="small-3 columns">
                    <div class="row collapse">
                      <div class="small-4 columns">
                        <i class="f-2x rc icon-idea"></i>
                      </div>
                      <div class="small-8 columns">
                        <div class="f-1-25x">342</div>
                        <div class="s2 scolor2">Rejected Ideas</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="small-3 columns b-ws-top b-ws-top-p">
              <h7>Trending Ideas</h7>
              <div class="plist">
                <div class="plistli">
                  <h6 class="nm"><small>#123</small> Idea title 1 <small class="right"><i class="icon-right" style="line-height: 1.5"></i></small></h6>
                </div>
                <div class="plistli">
                  <h6 class="nm"><small>#13</small> Idea title 2 <small class="right"><i class="icon-right" style="line-height: 1.5"></i></small></h6>
                </div>
                <div class="plistli">
                  <h6 class="nm"><small>#43</small> Idea title 3 <small class="right"><i class="icon-right" style="line-height: 1.5"></i></small></h6>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div id="singleideaview" style="display: none;">
          <div class="row">
            <div class="small-2 columns b-ws-top text-right b-ws-top-p">
              <div class="row">
                <div class="small-5 columns b-ws-top">
                  &nbsp;
                </div>
                <div class="small-7 columns b-ws-top">
                  <img src="https://randomuser.me/api/portraits/med/women/48.jpg" class="circle-img">
                </div>
                <div class="small-12 columns s-ws-top"><h5 class="nm">Rajesh Rishi</h5><div class="s2 scolor2 xs-ws-top"><i class="icon-location"></i>Business associate</div></div></div>

                <div class="m-ws-top scolor s">Idea ID: #321</div>
                <div class="scolor s2">posted 10 minutes ago</div>

              </div>
              <div class="small-8 columns b-ws-top b-ws-top-p">
                <div class="panel">
                  <div class="row">
                    <div class="small-1 columns">
                      <i class="icon-idea yc f-3x"></i>
                    </div>
                    <div class="small-11 columns">
                      <h2>Idea title which is slightly longer and then a lot longer </h2>
                    </div>

                  </div>
                  <div class="row">
                    <div class="small-12 columns">
                      <p>Some text about the idea. We are going to change the world. Give this a thought. 10 years ago, Mankind reached the moon. It was not a coincidence but a result of a audacity, grit and determination that consumed everyone and enabled us to achieve that goal. BUt where did it go? The farthest our imaginations go today are to fill 140 characters. Our smartest minds are helping deliver groceries at our doorstep. 
                      </p>
                      <p>We can definately do better. We deserve better. Change is coming. It is time.</p>
                    </div>
                  </div>
                  <div class="row"> <div class="small-12 columns s-ws-top"><div class="flex-video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/BbqUZ0p6Ntw?controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div> </div></div>
                </div>

                <div class="row">
                  <div class="small-2 columns text-right m-ws-top">
                    <img src="https://randomuser.me/api/portraits/med/men/6.jpg" class="circle-img img-h">
                    <h6 class="s scolor"><span class="scolor2 right">Nikhil Ahuja</span></h6> 
                  </div>
                  <div class="small-1 columns text-center bgline " style="padding-top: 0em; margin-top:3em;">
                    <div class="circle">
                      <i class="icon-circle bgc"></i>
                    </div>
                  </div>
                  <div class="small-9 columns m-ws-top">
                    <div class="scolor panel">
                      <textarea placeholder="Say something nice" rows="3"></textarea>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="small-2 columns text-right">
                    <img src="https://randomuser.me/api/portraits/med/women/3.jpg" class="circle-img img-h">
                    <h6 class="s scolor"><span class="scolor2 right">Sakshi Sharma</span></h6> 
                  </div>
                  <div class="small-1 columns text-center bgline">
                    <div class="circle">
                      <i class="icon-circle bgc"></i>
                    </div>
                  </div>
                  <div class="small-9 columns">
                    <div class="scolor panel">Sakshi approved the project<small class="right scolor2 xs-ws-top">2 min ago</small></div>
                  </div>
                </div>

                <div class="row">
                  <div class="small-2 columns text-right">
                    <img src="https://randomuser.me/api/portraits/med/men/3.jpg" class="circle-img img-h">
                    <h6 class="s scolor"><span class="scolor2 right">Ayushman Mathur</span></h6> 
                  </div>
                  <div class="small-1 columns text-center bgline">
                    <div class="circle">
                      <i class="icon-circle bgc"></i>
                    </div>
                  </div>
                  <div class="small-9 columns">
                    <div class="scolor panel">Some insane comment<small class="right scolor2 xs-ws-top">2 min ago</small></div>
                  </div>
                </div>
                

                <div class="row">
                  <div class="small-2 columns text-right">
                    <img src="https://randomuser.me/api/portraits/med/women/36.jpg" class="circle-img img-h">
                    <h6 class="s scolor"><span class="scolor2 right">Nikhil Ahuja</span></h6> 
                  </div>
                  <div class="small-1 columns text-center bgline">
                    <div class="circle">
                      <i class="icon-circle bgc"></i>
                    </div>
                  </div>
                  <div class="small-9 columns">
                    <div class="scolor panel">some other event. Can it have longer text/comment too?<small class="right scolor2 xs-ws-top">2 min ago</small></div>
                  </div>
                </div>

                <div class="row">
                  <div class="small-2 columns text-right">
                    <img src="https://randomuser.me/api/portraits/med/men/36.jpg" class="circle-img img-h">
                    <h6 class="s scolor"><span class="scolor2 right">Rajesh Rishi</span></h6> 
                  </div>
                  <div class="small-1 columns text-center bgline" style="padding-bottom:0em">
                    <div class="circle">
                      <i class="icon-circle bgc"></i>
                    </div>
                  </div>
                  <div class="small-9 columns">
                    <div class="scolor panel">Idea is born. An apple fell did it?<small class="right scolor2 xs-ws-top">2 min ago</small></div>
                  </div>
                </div>
              </div>
              <div class="small-2 b-ws-top columns b-ws-top-p">
                <div class="b-ws-top">
                  <div class=""><i class="icon-dollar bgc xs-ws-right"></i>Saves Cost</div>
                  <div><i class="icon-check bc xs-ws-right"></i><span class="scolor2 s"> is </span>Simple<span class="scolor2 s"> to implement</span></div>
                  <div><i class="icon-clock dbc xs-ws-right"></i><span class="scolor2 s"> will take</span> 30-60 days</div>
                </div>
                <hr>
                <input list="users" type="text" class="temp2 nm" placeholder="Team members name" style="display:none;">
                
                <div class="button small fullwidth s-ws-top" id="abtn">Accept</div>
                <div class="button secondary tiny fullwidth temp1">Reject</div>
                <div class="button secondary tiny fullwidth m-ws-top temp1">Ask for more info</div>
                <div class="button secondary tiny fullwidth temp1">Defer</div>
                <div class="button secondary tiny fullwidth m-ws-top temp1">Edit</div>

                

                <datalist id="users">
                  <option value="Richa Mehra">
                    <option value="Roshan Mishra">
                      <option value="Nandan Shankar">
                        <option value="Aditya Srivastava">
                          <option value="Mansi Gupta">
                          </datalist>
                        </div>
                      </div>
                    </div>

                    {% include footer.html %}

                    <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/foundation/js/foundation.min.js"></script>

                    <script src="{{site.url}}{{site.baseurl}}/assets/js/app.js"></script>
                    <script src="{{site.url}}{{site.baseurl}}/assets/js/default.js"></script>
                  </body>

                  </html>


